* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: 'Roboto', sans-serif;
  --text-color: #303030;
  --text-color-secundary: #7C7C8A;
  --text-color-third: #FFFFFF;


  --hue: 195;
  --primary-color: hsla(var(--hue), 91%, 25%, 1);
  --bg-primary-color: #000000;
  --bg-secundary-color: #06181C;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-primary-color);
  height: 100vh;
  
}

body * {
  font-family: var(--ff-primary);
}

#logo {
  width: clamp(2vw, 10em, 30vw);
  margin: 1rem;
}

/*classe para fazer um elemento sumir para o usuário e continuar visivel para o leitor de tela*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;

  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 4rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: clamp(46vw, 2em, 5vw);
  height: 4.8rem;
  border: none;
  border-radius: 5px;

  background: var(--bg-secundary-color);
  color: var(--text-color-secundary) ;

  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;

  padding: 0 .8rem;

  margin-right: 1rem;
}

.search button {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;

  height: 4.8rem;
  width: clamp(17vw, 2em, 5vw);


  cursor: pointer;

  text-transform: uppercase;
  color: var(--text-color-third);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search button:hover {
  filter: brightness(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}
/* adicionando um backgroun diferente nas linhas ímpareres*/
table tr:nth-child(even) {
  background: #eee;
}
/* adicionando um backgroun diferente nas linhas pares*/
table tr:nth-child(odd){
  background: #ddd;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: red;

  cursor: pointer;
}